@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-RegularItalic;
    src: url("../fonts/Montserrat-RegularItalic.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-MediumItalic;
    src: url("../fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat-SemiBoldItalic;
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url("../fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: Montserrat-Black;
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: Porkys;
    src: url("../fonts/PORKYS.TTF");
}
