/* CSS default */
body {
    background-color: #fff;
}

main {
    padding: 25px 50px;
    margin-left: 250px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

form {
    width: 100%;
}

/**/

/* hide sidebar on login page*/

.login-showloginform .sidebar {
    display: none;
}

.login-showloginform main {
    margin: 0;
}

/**/

/* NAVIGATION */

.navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    z-index: 2;
}

.navbar-brand img {
    width: 100px;
}

.sidebar {
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    position: absolute;
    left: 0;
    top: 80px;
    width: 250px;
    height: calc(100vh - 80px);
    font-size: 0.9rem;
}

.sidebar .metismenu {
    padding: 0;
}

.sidebar .metismenu .li-1 {
    padding: 10px 1rem;
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul {
    padding-left: 1rem;
}

.sidebar ul li ul {
    padding-left: 1.8rem;
}

.sidebar ul li ul li {
    margin: 10px 0;
}

.sidebar li {
    list-style: none;
    position: relative;
}

.metismenu .has-arrow {
    position: initial;
}

.metismenu .has-arrow:after {
    top: 20px;
    right: 10px;
}

.sidebar li svg {
    color: #337ab7;
    margin-right: 5px;
    font-size: 0.9rem;
}

.sidebar li a {
    color: #337ab7;
}

/**/

/* MAIN PAGE */

#admin-page h1 {
    text-align: center;
}

#admin-page span {
    font-weight: bolder;
}

.blue-word {
    color: #5BA8FD;
}

.green-word {
    color: #60E188;
}

.red-word {
    color: #FF6B6D;
}

.orange-word {
    color: #FDB157;
}

#admin-page .logo-kubz img {
    width: 50%;
    display: block;
    margin: 0 auto;
}


/* ALL EVENTS */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-active {
    background-color: #2196F3;
}

.switch-active:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/**/


/* PARTNERS */

.partners img {
    width: 150px;
}

.edit-partner img {
    width: 300px;
    display: block;
    margin: 10px 0;
}

/**/
