/*GENERAL CSS*/
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat-Regular !important;
    color: #343839;
}

main {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

strong {
    font-weight: bolder;
}
#content-wrap {
    padding-bottom: 80px; /* Footer height */
}

.is-danger {
    background-color: #f8d7da !important;
}

.png img {
    object-fit: initial !important;
}

.italic {
    font-family: Montserrat-RegularItalic;
}

.medium {
    font-family: Montserrat-Medium;
}

.medium-italic {
    font-family: Montserrat-MediumItalic;
}

.semi-bold {
    font-family: Montserrat-SemiBold;
}

.bold {
    font-family: Montserrat-Bold;
}

.bold-italic {
    font-family: Montserrat-BoldItalic;
}

.blue-word {
    color: #5BA8FD;
}

.green-word {
    color: #60E188;
}

.red-word {
    color: #FF6B6D;
}

.orange-word {
    color: #FDB157;
}

.blue-button {
    background-color: #5BA8FD;
    border: 2px solid #5BA8FD;;
}

.blue-button:hover {
    color: #5BA8FD !important;
}

.more-button:hover {
    background-color: transparent;
}

.green-button {
    background-color: #60E188;
    border: 2px solid #60E188;
}

.green-button:hover {
    color: #60E188 !important;
}

.red-button {
    background-color: #FF6B6D;
    border: 2px solid #FF6B6D;
}

.red-button:hover {
    color: #FF6B6D !important;
}

.orange-button {
    background-color: #FDB157;
    border: 2px solid #FDB157;
}

.orange-button:hover {
    color: #FDB157 !important;
}

/*COOKIES*/

.cookiealert {
    background: #212327 !important;
}

/*NAVIGATION*/
.project-image {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.multi-color-line img {
    width: 100%;
}

.project-image img {
    height: 120px;
}

.nav-box {
    height: 140px;
}

#navigation {
    width: 100%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*margin: 25px 0;*/
    /*padding: 0 50px;*/
    z-index: 10;
    background-color: #fff;
}

#navigation .hamburger-menu {
    display: none;
}

#navigation .nav-group {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}

.nav-white {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    background-color: rgba(255, 255, 255, .9);
    margin: 0 !important;
    animation: slide-down 0.7s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .11);
}

@-webkit-keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-white .nav-group ul li a {
    color: #000 !important;
}

#navigation .nav-group .logo img {
    width: 230px;
}

#navigation .nav-group ul {
    display: flex;
    margin: 0;
    padding: 0;
}

#navigation .nav-group ul li {
    padding: 0 21px;
    list-style: none;
    margin: 0;
}

#navigation .nav-group ul .logo-mobile {
    display: none;
}

.main-homepage #navigation .nav-group ul .homepage-list, .main-resources #navigation .nav-group ul .resources-list {
    border-bottom: 4px solid #5BA8FD;
}

.main-aboutus #navigation .nav-group ul .aboutUs-list, .main-contact #navigation .nav-group ul .contact-list {
    border-bottom: 4px solid #60E188;
}

.main-services #navigation .nav-group ul .services-list {
    border-bottom: 4px solid #FF6B6D;
}

.main-events #navigation .nav-group ul .events-list {
    border-bottom: 4px solid #FDB157;
}

.main-homepage #navigation .nav-group ul li a {
    color: #000;
}

#navigation .nav-group ul li a {
    color: #343839;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 5px;
    transition: none;
    line-height: 64px;
    font-size: 0.9rem;
}

#navigation .nav-group ul li a:hover {
    transition: none;
}

#navigation .nav-group ul li:nth-child(2):hover, #navigation .nav-group ul li:nth-child(6):hover {
    background-color: #5BA8FD;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
}

#navigation .nav-group ul li:nth-child(2):hover a, #navigation .nav-group ul li:nth-child(6):hover a, #navigation .nav-group ul li:nth-child(7):hover a {
    color: #fff !important;
}

#navigation .nav-group ul li .blue-anchor {
    color: #5BA8FD !important;
}

#navigation .nav-group ul li:nth-child(3):hover, #navigation .nav-group ul li:nth-child(7):hover {
    background-color: #60E188;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
}

#navigation .nav-group ul li:nth-child(3):hover a {
    color: #fff !important;
}

#navigation .nav-group ul li .green-anchor {
    color: #60E188 !important;
}

#navigation .nav-group ul li:nth-child(4):hover {
    background-color: #FF6B6D;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
}

#navigation .nav-group ul li:nth-child(4):hover a {
    color: #fff !important;
}

#navigation .nav-group ul li .red-anchor {
    color: #FF6B6D !important;
}

#navigation .nav-group ul li:nth-child(5):hover {
    background-color: #FDB157;
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
}

#navigation .nav-group ul li:nth-child(5):hover a {
    color: #fff !important;
}

#navigation .nav-group ul li .orange-anchor {
    color: #FDB157 !important;
}


/*FOOTER*/
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 50px;
    height: 80px;
}

#footer .social-media {
    display: flex;
}

#footer .social-media .icon-footer {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
}

#footer .social-media .icon-footer:hover {
    background-color: transparent;
}

#footer .social-media .facebook {
    background-color: #5BA8FD;
    border: 0.09em solid #5BA8FD;
}

#footer .social-media .facebook:hover .icon {
    color: #5BA8FD;
}

#footer .social-media .mail {
    background-color: #60E188;
    border: 0.09em solid #60E188;
}

#footer .social-media .mail:hover .icon {
    color: #60E188;
}

#footer .social-media .terms {
    background-color: #FF6B6D;
    border: 0.09em solid #FF6B6D;
}

#footer .social-media .terms:hover .icon {
    color: #FF6B6D;
}

#footer .social-media .icon-footer .icon {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#footer .info-footer {
    display: flex;
}

#footer .info-footer a {
    margin: 0 10px;
    color: #343839;
}

/*HOMEPAGE*/

#homepage .main-view {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

#homepage-carousel {
    position: absolute;
    width: 100%;
}

#homepage-carousel .w-100 {
    height: 100vh;
    object-fit: cover;
}

#homepage-carousel .rgba-black-strong, #homepage-carousel .rgba-black-strong:after {
    background-color: rgba(0, 0, 0, 0.5);
}

#homepage .box-main-view {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#homepage .box-main-view .title-main-view {
    width: 800px;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat-Bold;
    transition-duration: 0.7s;
}

#homepage .box-main-view .title-main-view h1 {
    color: #FDB157;
    line-height: 1.3;
    font-size: 3rem;
}

#homepage .box-main-view .title-main-view p {
    color: #fff;
    word-spacing: 5px;
    margin-top: 20px;
}

#homepage .box-main-view .title-main-view p .fa-circle {
    font-size: 8px;
    position: relative;
    bottom: 2.5px;
}

#homepage .box-main-view .buttons-main-view {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition-duration: 0.7s;
}

#homepage .box-main-view .buttons-main-view .info-button {
    padding: 12px 30px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#homepage .box-main-view .buttons-main-view .info-button:hover {
    background-color: transparent;
}

#homepage .box-main-view .buttons-main-view .info-button p {
    margin-bottom: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: Montserrat-Bold;
}

#homepage .box-main-view .buttons-main-view .about-us-button {
    background-color: #5BA8FD;
    margin-right: 50px;
    border: 2px solid #5BA8FD;
}


#homepage .box-main-view .buttons-main-view .about-us-button:hover p {
    color: #5BA8FD;
}

#homepage .box-main-view .buttons-main-view .contact-button {
    background-color: #60E188;
    border: 2px solid #60E188;
}

#homepage .box-main-view .buttons-main-view .contact-button:hover p {
    color: #60E188;
}

#homepage .project {
    margin: 50px 0;
}

#homepage .project .project-content {
    text-align: center;
}

#homepage .services {
    padding: 50px 0;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.box .accessory-right {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.box .accessory img {
    width: 180px;
}

.box .title-section h1 {
    text-transform: uppercase;
    font-family: Montserrat-Bold;
}

#homepage .services .box-services .title-services h1 {
    color: #5BA8FD;
}

.container {
    margin-top: 50px;
}

.container .multi-color-line {
    margin-bottom: 50px;
}

.container .multi-color-line img {
    width: 100%;
    object-fit: cover;
}

#homepage .services .container .col {
    height: 400px;
    position: relative;
    padding: 25px;
}

#homepage .services .container .row-1 .left-col {
    border-right: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
}

#homepage .services .container .row-1 .right-col {
    border-bottom: 1px solid #DADADA;
}

#homepage .services .container .row-2 .left-col {
    border-right: 1px solid #DADADA;
}

#homepage .services .container .col .content-post {
    display: flex;

}

#homepage .services .container .col .content-post .icon-post img {
    height: 80px;
}

#homepage .services .container .col .content-post .content-text {
    margin-left: 30px;
    margin-top: 25px;
}

#homepage .services .container .col .content-text h1 {
    font-family: Montserrat-SemiBold;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#homepage .services .container .col .content-text p {
    font-size: 0.9rem;
}

#homepage .services .container .col .more-button {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 8px 15px;
    border-radius: 8px;
    color: #fff;
}

#homepage .events {
    margin-top: 100px;
    margin-bottom: 100px;
}

#homepage .events .box-events .accessory img {
    width: 130px;
}

#homepage .events .box-events .title-events h1 {
    color: #60E188;
}

#homepage .events .event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

#homepage .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 350px;
    margin: 0 100px;
    background-color: #FDFDFD;
    padding: 25px 30px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.card .top-card {
    text-align: center;
}

.card .top-card h1 {
    font-size: 2rem;
    font-family: Montserrat-SemiBold;
}

.card .top-card p {
    font-family: Montserrat-RegularItalic;
}

.card .middle-card {
    margin-top: 20px;
}

.card .middle-card p {
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}

.card .bottom-card .multi-color-line {
    margin-bottom: 20px;
}

.card .bottom-card .multi-color-line img {
    height: 3px;
}

.card .bottom-card .info-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .bottom-card .info-card p {
    width: 160px;
    margin-bottom: 0;
    color: #FF6B6D;
    font-family: Montserrat-SemiBold;
}

.card .bottom-card .info-card a {
    padding: 6px 10px;
    border: 2px solid #5BA8FD;
    border-radius: 8px;
    color: #fff;
    background-color: #5BA8FD;
    font-size: 0.9rem;
}

.card .bottom-card .info-card a:hover {
    background-color: transparent;
    color: #5BA8FD;
}

/*ABOUT US*/

#about-us {
    padding-top: 50px;
    margin-bottom: 100px;
}

#about-us .box-about {
    margin-top: 50px;
}

#about-us .box-about .title-about {
    color: #60E188;
}

#about-us .content-about ul {
    margin: 30px 15px;
    font-family: Montserrat-Medium;
}


#about-us .content-about ul li {
    padding-left: 50px;
}

#about-us .content-about .join-us {
    text-align: center;
    margin-top: 50px;
}

#about-us .content-about .join-us p {
    margin-bottom: 30px;
}

#about-us .content-about .join-us a {
    padding: 8px 18px;
    border-radius: 8px;
    border: 2px solid #5BA8FD;
    background-color: #5BA8FD;
    color: #fff;
}

#about-us .content-about .join-us a:hover {
    background-color: transparent;
    color: #5BA8FD;
}

/*SERVICES*/

#services {
    padding-top: 50px;
    margin-bottom: 100px;
}

#services .box-services {
    margin-top: 50px;
}

#services .box-services .title-services h1 {
    color: #FF6B6D;
}

#services .content-services h1 {
    font-family: Montserrat-SemiBold;
    font-size: 2rem;
    margin-top: 30px;
}

#services .content-services h2 {
    font-family: Montserrat-Medium;
    font-size: 1.5rem;
    margin: 30px 0;
}

#services .content-services ul {
    margin: 30px 15px;
}

#services .content-services .ul-margin li {
    padding-left: 50px;
}

#services .content-services .margin-button {
    margin: 40px 0;
}

#services .content-services .more-button {
    color: #fff;
    padding: 10px 18px;
    border-radius: 8px;
}

/*EVENTS*/

#events {
    padding-top: 50px;
    margin-bottom: 100px;
}

#events .box-events {
    margin-top: 50px;
}

#events .box-events .title-events h1 {
    color: #FDB157;
}

#events .events-box {
    margin-top: 100px;
}

.info-message {
    margin: 1rem 0;
}

#events .events-box .card {
    display: flex;
    margin: 100px 0;
    width: auto;
    padding: 0;
    flex-direction: initial;
}

.blue-thumbnail {
    background-color: #5BA8FD;
}

.green-thumbnail {
    background-color: #60E188;
}

.red-thumbnail {
    background-color: #FF6B6D;
}

.orange-thumbnail {
    background-color: #FDB157;
}

#events .events-box .card .left-card .image-event {
    width: 450px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

#events .events-box .card .left-card .image-event .status {
    position: absolute;
    top: 50px;
    left: -50px;
    background-color: #fff;
    padding: 10px 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-family: Montserrat-Bold;
}

#events .events-box .card .left-card .image-event .status .available {
    color: #60E188;
    font-size: 1.2rem;
}

#events .events-box .card .left-card .image-event .status .unavailable {
    color: #FF6B6D;
    font-size: 1.2rem;
}

#events .events-box .card .left-card .image-event p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5rem;
}

#events .events-box .card .left-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#events .events-box .card .right-card {
    padding: 25px;
    width: 100%;
}

#events .events-box .card .right-card .name-event h1 {
    font-size: 2rem;
}

#events .events-box .card .right-card .details {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#events .events-box .card .right-card .details a {
    color: #fff;
    border-radius: 10px;
    padding: 10px 18px;
    font-size: 0.9rem;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: #c9c9c9 !important;
    border: 2px solid #c9c9c9 !important;
}
#events .events-box .card .right-card ul {
    padding-left: 25px;
}

#events .events-box .card .right-card .details .left-details p {
    margin-bottom: 0;
}


/* RESOURCES */

#resources {
    padding-top: 50px;
    margin-bottom: 100px;
}

#resources .box-resources {
    margin-top: 50px;
}

#resources .box-resources .title-resources {
    color: #5BA8FD;
}

#resources .faq {
    margin-top: 100px;
}

#resources .faq > h1 {
    font-family: Montserrat-SemiBold;
    font-size: 2rem;
    text-align: center;
}

#resources .faq .accordion-faq {
    margin-top: 100px;
}

#resources .faq .accordion-faq .box {
    display: block;
    padding: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#resources .faq .accordion-faq .box .question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CDCBCB;
    padding: 20px 50px;
    border-bottom: 2px solid #F8F8F8;
}

#resources .faq .accordion-faq .box:nth-child(5) .question {
    border-bottom: none;
}

#resources .faq .accordion-faq .box .question h1 {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: Montserrat-Medium;
}

.fa-plus, .fa-minus {
    font-size: 25px;
}

#resources .faq .accordion-faq .box .question .button-active {
    transform: rotate(45deg);
}

#resources .faq .accordion-faq .box .answer {
    display: none;
    background-color: #F8F8F8;
    padding: 25px 50px;
}

#resources .faq .accordion-faq .box .answer p:last-child {
    margin-bottom: 0;
}

#resources .faq .accordion-faq .box .answer ul, #resources .faq .accordion-faq .box .answer ol {
    margin: 20px 15px;
}

#resources .box-partners {
    margin-top: 100px;
}

#resources .box-partners .title-partners h1 {
    color: #60E188;
}

#resources .partners {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#resources .partners .partner {
    margin: 0 100px;
    text-align: center;
}

#resources .partners .partner img {
    height: 50px;
    margin-bottom: 10px;
}

/* CONTACT */

#contact {
    padding-top: 50px;
    margin-bottom: 100px;
}

#contact .alert-success {
    padding: 10px 20px;
}

#contact .close {
    margin-left: 20px;
}

#contact .box-contact {
    margin-top: 50px;
}

#contact .box-contact .title-contact h1 {
    color: #60E188;
}

#contact .form-contact h1, #contact .col-right h1 {
    font-family: Montserrat-Bold;
    font-size: 1.5rem;
}

#contact .form-contact form {
    margin-top: 25px;
}

#contact .form-contact form div {
    margin-top: 25px;
}

.grecaptcha-logo {
    margin-top: 0 !important;
}

#contact .form-contact form .name-email {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20px;
}

#contact .form-contact form input, #contact .form-contact form textarea {
    width: 100%;
    border-radius: 8px;
    border: transparent;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #F8F8F8;
}

textarea:focus, input:focus {
    outline: none;
}

#contact .form-contact form .send-button input {
    width: auto;
    padding: 8px 18px;
    background-color: #5BA8FD;
    color: #fff;
    border: 2px solid #5BA8FD;
    transition: all 0.2s ease-in-out;
}

#contact .form-contact form .send-button input:hover {
    background-color: transparent;
    color: #5BA8FD;
}

#contact .form-contact form label {
    display: block;
}

#contact .col-right {
    margin-left: 100px;
}

#contact .col-right h1 {
    margin-bottom: 50px;
}

#contact .col-right .info-contact a {
    color: #343839;
}

#contact .col-right .program {
    margin-top: 50px;
}

#contact #map {
    margin-top: 100px;
    height: 700px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

#contact #map iframe {
    width: 100%;
    height: 100%;
}

/*COOKIES PAGE*/

#cookies {
    padding-top: 250px;
}

#cookies h1 {
    margin-bottom: 50px;
    font-family: Montserrat-SemiBold;
    text-align: center;
}

#cookies ul {
    margin-left: 15px;
}

/*PDCP*/

#pdcp {
    padding-top: 250px;
}

#pdcp h1 {
    margin-bottom: 50px;
    font-family: Montserrat-SemiBold;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1500px;
    }
}

@media screen and (min-width: 2560px) {
    /*GENERAL CSS*/
    .box .title-section h1, #pdcp h1, #cookies h1 {
        font-size: 3rem;
    }

    .box .accessory img {
        width: 200px;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1800px;
    }

    .card {
        width: 400px;
    }

    .card .top-card h1 {
        font-size: 2.5rem;
    }

    .card .top-card p, .card .middle-card p, .card .bottom-card .info-card p {
        font-size: 1.2rem;
    }

    .card .bottom-card .info-card a {
        font-size: 1.1rem;
    }

    .card .bottom-card .multi-color-line img {
        height: 4px;
    }

    .fa-plus, .fa-minus {
        font-size: 30px;
    }


    #navigation .nav-group .logo img {
        width: 280px;
    }

    #navigation .nav-group ul li a {
        line-height: 65px;
        font-size: 1rem;
    }

    #footer .social-media .icon-footer {
        width: 40px;
        height: 40px;
        font-size: 1.2rem;
    }

    #footer .info-footer a {
        font-size: 1.2rem;
    }

    #homepage .box-main-view .title-main-view {
        width: 1000px;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 3.5rem;
    }

    #homepage .box-main-view .title-main-view p, #homepage .box-main-view .buttons-main-view .info-button p, #homepage .services .container .col .content-text p,
    #homepage .services .container .col .more-button, #about-us .content-about, #pdcp p, #cookies p, #cookies ul, #about-us .content-about .join-us a, #services .content-services p,
    #services .content-services ul, #services .content-services .more-button, #events .events-box .right-card p, #events .events-box li, #resources .faq .accordion-faq .box .answer p,
    #resources .faq .accordion-faq .box .answer li, #contact .form-contact form label, #contact .form-contact form .send-button input, #contact .col-right p, .project p {
        font-size: 1.2rem;
    }

    #homepage .services .container .col {
        height: 450px;
    }

    #homepage .services .container .col .content-post .content-text {
        margin-top: 20px;
    }

    #homepage .services .container .col .content-text h1 {
        font-size: 1.5rem;
    }

    #homepage .events .box-events .accessory img {
        width: 150px;
    }

    #about-us, #services, #events, #resources, #contact {
        padding-top: 100px;
    }

    #services .content-services h1 {
        font-size: 2.5rem;
    }

    #services .content-services h2 {
        font-size: 2rem;
    }

    #events .events-box .card .left-card .image-event .status .available, #events .events-box .card .left-card .image-event .status .unavailable {
        font-size: 1.4rem;
    }

    #resources .faq > h1 {
        font-size: 2.5rem;
    }

    #resources .faq .accordion-faq .box .question h1 {
        font-size: 1.5rem;
    }

    #resources .box-partners {
        margin-top: 150px;
    }

    #resources .partners .partner img {
        height: 70px;
    }

    #contact .form-contact h1, #contact .col-right h1 {
        font-size: 2rem;
    }

    #contact #map {
        margin-top: 150px;
        height: 1000px;
    }

}

@media screen and (min-width: 3500px) {
    /*GENERAL CSS*/
    .box {
        padding: 0 200px;
    }

    .box .title-section h1 {
        font-size: 4rem;
    }

    .box .accessory img {
        width: 280px;
    }

    .container {
        margin-top: 100px;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 2500px;
    }

    .container .multi-color-line {
        margin-bottom: 100px;
    }

    .card {
        width: 500px;
        padding: 30px 35px;
    }

    .card .top-card h1 {
        font-size: 3rem;
    }

    .card .top-card p, .card .middle-card p, .card .bottom-card .info-card p {
        font-size: 1.5rem;
    }

    .card .middle-card {
        margin-top: 25px;
    }

    .card .bottom-card .multi-color-line {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .card .bottom-card .info-card a {
        font-size: 1.4rem;
        padding: 8px 10px;
    }

    .card .bottom-card .multi-color-line img {
        height: 5px;
    }

    .fa-plus, .fa-minus {
        font-size: 30px;
    }

    .project-image {
        width: 1800px;
    }

    .project-image img {
        height: 180px;
    }

    #navigation .nav-group {
        width: 1800px;
    }

    #navigation .nav-group .logo img {
        width: 400px;
    }

    #navigation .nav-group ul li {
        padding: 0 25px;
    }

    #navigation .nav-group ul li a {
        line-height: 90px;
        font-size: 1.6rem;
    }

    #footer .social-media .icon-footer {
        width: 55px;
        height: 55px;
        font-size: 1.5rem;
    }

    #footer .info-footer a {
        font-size: 1.5rem;
    }

    #homepage .box-main-view {
        bottom: 200px;
    }

    #homepage .box-main-view .title-main-view {
        width: 1500px;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 5.5rem;
    }

    #homepage .box-main-view .title-main-view p {
        font-size: 1.8rem;
    }

    #homepage .box-main-view .buttons-main-view .info-button p {
        font-size: 1.8rem;
    }

    #homepage .services .container .col {
        height: 500px;
    }

    #homepage .services .container .col .content-post .content-text {
        margin-top: 20px;
    }

    #homepage .services .container .col .content-post .icon-post img {
        height: 100px;
    }

    #homepage .services .container .col .content-text h1 {
        font-size: 2.3rem;
    }

    #homepage .services .container .col .content-text p {
        font-size: 1.5rem;
    }

    #homepage .services .container .col .more-button {
        font-size: 1.5rem;
    }

    #homepage .events .box-events .accessory img {
        width: 220px;
    }

    .project p {
        font-size: 1.5rem;
    }

    #about-us, #services, #events, #resources, #contact {
        padding-top: 150px;
    }

    #pdcp p, #cookies p, #cookies ul {
        font-size: 1.5rem;
    }

    #about-us .content-about {
        font-size: 1.5rem;
    }

    #about-us .content-about .join-us a {
        font-size: 1.5rem;
    }

    #about-us .content-about .join-us a {
        padding: 10px 20px;
    }

    #services .content-services p, #services .content-services ul, #services .content-services .more-button {
        font-size: 1.5rem;
    }

    #services .content-services h1 {
        font-size: 3rem;
    }

    #services .content-services h2 {
        font-size: 2.5rem;
    }

    #events .events-box .card .right-card .name-event h1 {
        font-size: 2.5rem;
    }

    #events .events-box .card .left-card .image-event {
        width: 600px;
    }

    #events .events-box .card .left-card .image-event .status .available, #events .events-box .card .left-card .image-event .status .unavailable {
        font-size: 1.5rem;
    }

    #events .events-box .card .left-card .image-event p {
        font-size: 2rem;
    }

    #events .events-box .right-card p, #events .events-box .right-card li, #events .events-box .card .right-card .details a {
        font-size: 1.5rem;
    }

    #resources .faq > h1 {
        font-size: 3rem;
    }

    #resources .faq .accordion-faq .box .question {
        padding: 30px 50px;
    }

    #resources .faq .accordion-faq .box .question h1 {
        font-size: 2rem;
    }

    #resources .faq .accordion-faq .box .answer p, #resources .faq .accordion-faq .box .answer li {
        font-size: 1.5rem;
    }

    #resources .box-partners {
        margin-top: 200px;
    }

    #resources .partners .partner img {
        height: 90px;
    }

    #resources .partners .partner p {
        font-size: 1.5rem;
    }

    #contact .form-contact h1, #contact .col-right h1 {
        font-size: 2.5rem;
    }

    #contact .form-contact form label, #contact .form-contact form .send-button input, #contact .col-right p {
        font-size: 1.5rem;
    }

    #contact .form-contact form input, #contact .form-contact form textarea {
        font-size: 1.2rem;
    }

    #contact .form-control {
        padding: 25px .75rem;
    }

    #contact #map {
        height: 1500px;
    }

}

@media screen and (max-width: 1700px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}

@media screen and (max-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }

    .nav-box {
        height: 125px;
    }

    .project-image img {
        height: 100px;
    }

    #navigation .nav-group, .project-image {
        width: 1000px;
    }

    #navigation .nav-group .logo img {
        width: 200px;
    }

    #navigation .nav-group ul li a {
        font-size: 0.9rem;
        line-height: 58px;
    }

    #footer .social-media .icon-footer .icon, #footer .info-footer a {
        font-size: 0.9rem;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 2.5rem;
    }

    #homepage .box-main-view .buttons-main-view .info-button p, #pdcp p, #cookies p, #cookies ul {
        font-size: 0.9rem;
    }

    .box .title-section h1, #pdcp h1, #cookies h1 {
        font-size: 2rem;
    }

    .box .accessory img {
        width: 130px;
    }

    #homepage .services .container .col .content-post .content-text {
        margin-top: 20px;
    }

    #homepage .services .container .col .content-text h1 {
        font-size: 1rem;
    }

    #homepage .services .container .col .content-post .icon-post img {
        height: 60px;
    }

    #homepage .services .container .col .more-button {
        font-size: 0.9rem;
    }

    #homepage .events .box-events .accessory img {
        width: 100px;
    }

    .project p {
        font-size: 0.9rem;
    }

    #events .events-box .card .left-card .image-event {
        width: 400px;
    }

    #events .events-box .card .left-card .image-event .status {
        top: 25px;
        left: 0;
    }

    #events .events-box .card .left-card .image-event .status .available, #events .events-box .card .left-card .image-event .status .unavailable {
        font-size: 1.1rem;
    }

    .card {
        width: 320px;
    }

    .card .top-card h1 {
        font-size: 1.5rem;
    }

    .card p, .card .bottom-card .info-card a, .card li {
        font-size: 0.9rem;
    }

    #events .events-box .card .right-card .details a {
        font-size: 0.8rem;
    }

    #about-us .content-about p, #about-us .content-about ul, #about-us .content-about .join-us a {
        font-size: 0.9rem;
    }

    #services .content-services h1 {
        font-size: 1.5rem;
    }

    #services .content-services h2 {
        font-size: 1.2rem;
    }

    #services .content-services p, #services .content-services ul, #services .content-services .more-button {
        font-size: 0.9rem;
    }

    #resources .faq > h1 {
        font-size: 1.5rem;
    }

    #resources .faq .accordion-faq .box .question h1 {
        font-size: 1rem;
    }

    .fa-plus, .fa-minus {
        font-size: 1.2rem;
    }

    #resources .faq .accordion-faq .box .answer p, #resources .faq .accordion-faq .box .answer li {
        font-size: 0.9rem;
    }

    #resources .partners .partner {
        margin: 0 70px;
    }

    #resources .partners .partner img {
        height: 40px;
    }

    #resources .partners .partner p {
        font-size: 0.9rem;
    }

    #contact .form-contact h1, #contact .col-right h1 {
        font-size: 1.2rem;
    }

    #contact .form-contact form label, #contact .col-right .info-contact p, #contact .col-right .program p,
    #contact .form-contact form .send-button input {
        font-size: 0.9rem;
    }

    #contact #map {
        height: 600px;
    }

    .cookiealert {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav-box {
        height: 115px;
    }

    #navigation .nav-group, .project-image {
        width: 90vw;
    }

    #navigation {
        left: initial;
        transform: none;
        padding: 0;
        margin: 0;
    }

    #navigation .hamburger-menu {
        display: block;
        position: fixed;
        top: 120px;
        right: 10px;
        z-index: 11;
        transition: 0.5s;
    }

    .is-scroll {
        top: 10px !important;
    }

    .nav-open {
        top: 10px !important;
    }

    #navigation .nav-group {
        display: block;
        border: none;
        padding: 0;
    }

    #navigation .nav-group ul {
        padding: 80px 0 0 0;
        display: block;
        text-align: center;
        position: fixed;
        right: -350px;
        top: 0;
        background-color: #F8F8F8;
        width: 350px;
        height: 100vh;
        transition: 0.5s;
        overflow-y: scroll;
    }

    #navigation .nav-group .ul-active {
        right: 0;
    }

    .main-homepage #navigation .nav-group ul li a {
        color: #343839;
    }

    #navigation .nav-group ul li:hover {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    #navigation .nav-group ul li:nth-child(2):hover a, #navigation .nav-group ul li:nth-child(3):hover a, #navigation .nav-group ul li:nth-child(4):hover a,
    #navigation .nav-group ul li:nth-child(5):hover a, #navigation .nav-group ul li:nth-child(6):hover a, #navigation .nav-group ul li:nth-child(7):hover a {
        color: #343839 !important;
    }

    #navigation .nav-group ul li .blue-anchor, #navigation .nav-group ul li .green-anchor, #navigation .nav-group ul li .red-anchor, #navigation .nav-group ul li .orange-anchor {
        color: #ffffff !important;
    }

    .main-homepage #navigation .nav-group ul .homepage-list, .main-resources #navigation .nav-group ul .resources-list {
        border: none;
        background-color: #5BA8FD;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .main-homepage #navigation .nav-group ul .homepage-list:hover, .main-resources #navigation .nav-group ul .resources-list:hover {
        background-color: #5BA8FD !important;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset !important;
    }

    .main-homepage #navigation .nav-group ul .homepage-list:hover a, .main-resources #navigation .nav-group ul .resources-list:hover a {
        color: #fff !important;
    }

    .main-aboutus #navigation .nav-group ul .aboutUs-list, .main-contact #navigation .nav-group ul .contact-list {
        border: none;
        background-color: #60E188;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .main-aboutus #navigation .nav-group ul .aboutUs-list:hover, .main-contact #navigation .nav-group ul .contact-list:hover {
        background-color: #60E188 !important;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset !important;
    }

    .main-aboutus #navigation .nav-group ul .aboutUs-list:hover a, .main-contact #navigation .nav-group ul .contact-list:hover a {
        color: #fff !important;
    }

    .main-services #navigation .nav-group ul .services-list {
        border: none;
        background-color: #FF6B6D;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .main-services #navigation .nav-group ul .services-list:hover {
        background-color: #FF6B6D !important;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset !important;
    }

    .main-services #navigation .nav-group ul .services-list:hover a {
        color: #fff !important;
    }

    .main-events #navigation .nav-group ul .events-list {
        border: none;
        background-color: #FDB157;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset;
    }

    .main-events #navigation .nav-group ul .events-list:hover {
        background-color: #FDB157 !important;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1) inset !important;
    }

    .main-events #navigation .nav-group ul .events-list:hover a {
        color: #fff !important;
    }

    #navigation .nav-group ul li {
        padding: 0;
        margin: 10px 0;
    }

    #navigation .nav-group ul .logo-mobile {
        display: block;
        margin-bottom: 50px;
    }

    #navigation .nav-group ul .logo-mobile img {
        width: 200px;
    }

    #homepage .box-main-view .title-main-view {
        width: 550px;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 2.2rem;
    }

    #homepage .box-main-view .title-main-view p {
        font-size: 0.9rem;
    }

    #homepage .box-main-view .buttons-main-view .info-button p, #pdcp p, #cookies p, #cookies ul {
        font-size: 0.8rem;
    }

    .box .accessory img {
        width: 120px;
    }

    .col {
        flex-basis: initial;
    }

    .container {
        padding: 0 50px;
    }

    #homepage .row {
        display: grid;
        grid-template-columns: 70%;
        justify-content: center;
    }

    #homepage .services .container .row-1 .left-col {
        border-right: none;
    }

    #homepage .services .container .row-2 .left-col {
        border-bottom: 1px solid #DADADA;
        border-right: none;
    }

    #homepage .services .container .row-2 .right-col {
        border-bottom: 1px solid #DADADA;
    }

    #homepage .events .event-cards {
        margin-top: 50px;
    }

    #events .events-box .card .right-card .details {
        flex-wrap: wrap;
    }

    #events .events-box .card .left-card .image-event p {
        font-size: 1.2rem;
    }

    #events .events-box .card .right-card .name-event h1 {
        font-size: 1.5rem;
    }

    .card {
        margin: 50px;
    }

    #resources .partners {
        margin-top: 50px;
    }

    #resources .partners .partner {
        margin: 50px;
    }

    #contact .row {
        display: grid;
        grid-template-columns: 70%;
        justify-content: center;
    }

    #contact .col-right {
        margin-left: 0;
        margin-top: 50px;
    }

}

@media screen and (max-width: 1000px) {
    #events .events-box .card {
        display: block;
    }

    #events .events-box .card .left-card .image-event {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }
}

@media screen and (max-width: 900px) {
    #homepage .card {
        display: block;
    }

    .box {
        padding: 0 50px;
    }

    #homepage .row {
        grid-template-columns: 100%;
    }

    #resources .faq {
        margin-top: 50px;
    }

    #contact .row {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 750px) {
    .box {
        padding: 0 25px;
    }

    .cookiealert {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-box {
        height: 105px;
    }

    .project-image img {
        height: 80px;
    }

    #navigation .hamburger-menu {
        top: 100px;
    }

    #navigation .nav-group .logo img {
        width: 180px;
    }

    #navigation .nav-group ul .logo-mobile img {
        width: 180px;
    }

    #navigation .nav-group ul {
        right: -300px;
        width: 300px;
    }

    #footer {
        padding: 0 25px;
    }

    #homepage .box-main-view .title-main-view {
        width: 100%;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 2rem;
    }

    .box .accessory img {
        width: 100px;
    }

    .box .title-section h1, #pdcp h1, #cookies h1 {
        font-size: 1.8rem;
    }

    #homepage .services .container .col .content-post .content-text {
        margin-top: 15px;
    }

    .container .multi-color-line img {
        width: 100%;
        height: 5px;
        object-fit: initial;
    }

    #homepage .services .container .col {
        padding: 25px 0;
    }

    #homepage .events .box-events .accessory img {
        width: 80px;
    }

    #events .events-box .card .left-card .image-event .status {
        top: initial;
        left: initial;
        right: 0;
        bottom: -55px;
    }

    #events .events-box .card .left-card .image-event .status .available, #events .events-box .card .left-card .image-event .status .unavailable {
        font-size: 1rem;
    }

    #events .events-box .card .right-card .date {
        width: calc(100% - 140px);
    }
}

@media screen and (max-width: 550px) {
    .card .middle-details {
        margin-left: 20px;
    }

    .card .right-details {
        margin-top: 25px;
    }

    #events .events-box .card .right-card .name-event h1 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 500px) {
    .project-image img {
        height: 65px;
    }

    #navigation .hamburger-menu {
        top: 90px;
    }

    #about-us .container, #services .container, #pdcp .container, #cookies .container {
        padding: 0 25px;
    }

    #footer .social-media .icon-footer {
        width: 25px;
        height: 25px;
        margin: 0 6px;
    }

    #footer .social-media .icon-footer .icon, #footer .info-footer a {
        font-size: 0.8rem;
    }

    #footer .info-footer a {
        margin: 0 6px;
    }

    #homepage .box-main-view .title-main-view {
        width: 90%;
        margin: 0 auto;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 26px;
    }

    #homepage .box-main-view .title-main-view p {
        font-size: 0.8rem;
    }

    #homepage .box-main-view .buttons-main-view .about-us-button {
        margin-right: 30px;
    }

    .box .accessory img {
        width: 80px;
    }

    .box .title-section h1, #pdcp h1, #cookies h1 {
        font-size: 1.5rem;
    }

    .container .multi-color-line {
        margin-bottom: 25px;
    }

    #homepage .services .container .col .content-post .icon-post img {
        height: 50px;
    }

    #homepage .services .container .col .content-post .content-text {
        margin-top: 10px;
    }

    #homepage .services .container .col .content-text h1 {
        font-size: 0.9rem;
    }

    #homepage .services .container .col .content-text p {
        font-size: 0.8rem;
    }

    #homepage .services .container .col .more-button {
        font-size: 0.8rem;
    }

    #homepage .services .container .col {
        height: 350px;
    }

    #homepage .events .box-events .accessory img {
        width: 60px;
    }

    .project p {
        font-size: 0.8rem;
    }

    .card {
        width: 300px;
        margin: 50px 0;
    }

    #events .events-box .card .left-card .image-event .status .available, #events .events-box .card .left-card .image-event .status .unavailable {
        font-size: 0.9rem;
    }

    #events .events-box .card .left-card .image-event p {
        font-size: 1rem;
    }

    .card p, .card .bottom-card .info-card a, .card li {
        font-size: 0.8rem;
    }

    #events .events-box .card .right-card .details a {
        font-size: 0.7rem;
    }

    #about-us, #services, #events, #resources, #contact, #pdcp, #cookies {
        padding-top: 25px;
    }

    #about-us .content-about p, #about-us .content-about ul, #about-us .content-about .join-us a {
        font-size: 0.9rem;
    }

    #services .content-services h1 {
        font-size: 1.2rem;
    }

    #services .content-services h2 {
        font-size: 1rem;
    }

    #services .content-services p, #services .content-services ul, #services .content-services .more-button {
        font-size: 0.8rem;
    }

    #resources .faq .accordion-faq {
        margin-top: 50px;
    }

    #resources .faq .accordion-faq .box .question {
        padding: 20px 25px;
    }

    #resources .faq .accordion-faq .box .answer {
        padding: 25px;
    }

    #resources .faq > h1 {
        font-size: 1.2rem;
    }

    #resources .faq .accordion-faq .box .question h1 {
        font-size: 0.9rem;
    }

    .fa-plus, .fa-minus {
        font-size: 1rem;
        margin-left: 25px;
    }

    #resources .faq .accordion-faq .box .answer p, #resources .faq .accordion-faq .box .answer li {
        font-size: 0.8rem;
    }

    #resources .partners {
        margin-top: 0;
    }

    #resources .partners .partner {
        margin: 25px 0;
    }

    #contact .form-contact form .name-email {
        grid-template-columns: auto;
    }

    #contact .form-contact h1, #contact .col-right h1 {
        font-size: 1rem;
    }

    #contact .form-contact form label, #contact .col-right .info-contact p, #contact .col-right .program p, #contact .form-contact form .send-button input {
        font-size: 0.8rem;
    }

    #contact .col-right h1 {
        margin-bottom: 30px;
    }

    #contact #map {
        height: 100vh;
    }
}

@media screen and (max-width: 450px) {
    #navigation .nav-group ul li {
        margin: 0;
    }

    #navigation .nav-group ul li a {
        font-size: 0.8rem;
    }

    #homepage .box-main-view {
        bottom: 150px;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 23px;
    }

    #homepage .box-main-view .title-main-view p {
        font-size: 0.7rem;
    }

    #homepage .box-main-view .buttons-main-view {
        margin-top: 25px;
    }

    #homepage .box-main-view .buttons-main-view .info-button {
        padding: 10px 25px;
    }

    #homepage .box-main-view .buttons-main-view .info-button p {
        font-size: 0.7rem;
    }

    #pdcp p, #cookies p, #cookies ul {
        font-size: 0.9rem;
    }

    .box .title-section h1, #pdcp h1, #cookies h1 {
        font-size: 23px;
    }

    .box {
        padding: 0 15px;
    }

    .container {
        margin-top: 25px;
    }

    #homepage .services .container .row-2 .left-col {
        height: 450px;
    }

    #homepage .services .container .col .more-button {
        right: 0;
    }

    #homepage .events {
        margin-top: 50px;
    }

    #homepage .events .event-cards {
        margin-top: 25px;
    }

    #events .container {
        padding: 0 25px;
    }

    .card {
        width: 280px;
        margin: 25px 0;
    }

    .card .top-card h1 {
        font-size: 1.3rem;
    }

    .card .bottom-card .multi-color-line {
        margin-bottom: 10px;
    }

    #resources .container {
        padding: 0 25px;
    }

    #resources .partners .partner p {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 400px) {

    #navigation .nav-group ul {
        right: -250px;
        width: 250px;
    }

    #homepage .box-main-view .title-main-view h1 {
        font-size: 21px;
    }

    #homepage .box-main-view .title-main-view p {
        font-size: 0.6rem;
    }

    #homepage .services .container .col {
        height: 380px;
    }
}

@media screen and (max-width: 380px) {
    #events .events-box .card .right-card .details {
        display: block;
    }

    .card .middle-details {
        margin-left: 0;
        margin-top: 15px;
    }
}
